.TechTalkContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  .TechTalkCard {
    margin: 1em auto;
    width: 90vw;
  }
}

@media screen and (min-width: 800px) and (max-width: 1280px) {
  .TechTalkCard {
    margin: 1em;
    width: 450px;
  }
}

@media screen and (min-width: 1280px) {
  .TechTalkCard {
    margin: 1em;
    width: 300px;
  }
}
