.HorizontalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ControlBigSection {
  margin: 2em;
}

.ControlSmallSection {
  margin: 0.5em;
}

.ControlButton {
  margin: 4px;
  padding: 8px;
}

.SmallControlButton {
  margin: 2px;
  padding: 8px;
  line-height: 1;
}

@media screen and (max-width: 1200px) {
  .Logo {
    display: none;
  }
}

.FourButtonRow {
  margin-top: 8px;
}
