.PrimitiveHex {
  margin-left: var(--hex-radius);
  width: calc(var(--hex-radius) * 2);
  height: calc(var(--hex-radius) * 1.732 * 2);
  background-color: var(--hex-color);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  font-size: 11px;
}

.PrimitiveHex:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: calc(var(--hex-radius) * -1);
  border-right: var(--hex-radius) solid var(--hex-color);
  border-top: calc(var(--hex-radius) * 1.732) solid transparent;
  border-bottom: calc(var(--hex-radius) * 1.732) solid transparent;
}

.PrimitiveHex:after {
  content: '';
  width: 0;
  position: absolute;
  right: calc(var(--hex-radius) * -1);
  border-left: var(--hex-radius) solid var(--hex-color);
  border-top: calc(var(--hex-radius) * 1.732) solid transparent;
  border-bottom: calc(var(--hex-radius) * 1.732) solid transparent;
}

.PrimitiveHex:before,
.PrimitiveHex:after {
  z-index: 1;
}

.PrimitiveHexInner:before,
.PrimitiveHexInner:after {
  z-index: 2;
}

.PrimitiveHexInner {
  margin-left: 0;
  top: calc(0.6px * 3 / 1.732);
  left: 0.6px;
}
