body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
}

code {
  font-family: 'Roboto Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  padding: 2px 4px;
  font-size: 90%;
  color: #383a42;
  background-color: #f7f7f7;
}

pre {
  background-color: #f7f7f7;
  padding: 2px 4px;
  border-radius: 4px;
}

pre > code {
  background-color: transparent;
}

a:link {
  color: #1e88e5 !important;
  text-decoration: none !important;
}

a:visited {
  color: #1e88e5 !important;
  text-decoration: none !important;
}

a:hover {
  color: #1e88e5 !important;
  text-decoration: none !important;
}

a:active {
  color: #1e88e5 !important;
  text-decoration: none !important;
}

ul {
  padding-inline-start: 24px;
}

:root {
  --app-bar-height: 56px;
}

@media (min-width: 0px) and (orientation: landscape) {
  :root {
    --app-bar-height: 48px;
  }
}
@media (min-width: 600px) {
  :root {
    --app-bar-height: 64px;
  }
}

.simple-page-center {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.content-below-appbar {
  padding-top: var(--app-bar-height);
  min-height: calc(100% - var(--app-bar-height));
  max-height: calc(100% - var(--app-bar-height));
  overflow: scroll;
}

.masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.masonry-grid-column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.masonry-grid-column > div {
  margin-bottom: 30px;
}

.MuiBreadcrumbs-separator {
  color: white;
}

/** Markdown Plugin */

.remarkable-task-list-item-label {
  display: inline-block;
  position: relative;
  background-color: white;
  border: 1px solid #999999;
  border-radius: 3px;
  height: 14px;
  width: 14px;
  margin-left: -20px;
  margin-right: 8px;
  user-select: none;
  transform: translateY(3px);
}

.remarkable-task-list-item-label input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  height: 0;
  width: 0;
}

.remarkable-task-list-item-span-mark {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: transparent;
}

.remarkable-task-list-item-label input:checked ~ .remarkable-task-list-item-span-mark {
  display: block;
  background-color: #2196f3;
  margin: -1px;
  border: 1px solid #2196f3;
  border-radius: 2px;
}

.remarkable-task-list-item-span-mark:after {
  position: absolute;
  content: '';
}

.remarkable-task-list-item-label .remarkable-task-list-item-span-mark:after {
  left: 4.5px;
  top: 1px;
  width: 3.5px;
  height: 8px;
  border: solid white;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

li.remarkable-li {
  margin: 0;
}
