{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb", "plugin:@typescript-eslint/recommended", "react-app"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/no-angle-bracket-type-assertion": "off",
    "@typescript-eslint/no-object-literal-type-assertion": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "args": "after-used",
        "ignoreRestSiblings": true,
        "vars": "all"
      }
    ],
    "@typescript-eslint/prefer-interface": "off",
    "import/extensions": "off",
    "indent": "off",
    "no-underscore-dangle": "off",
    "object-curly-newline": [
      "error",
      {
        "ExportDeclaration": {
          "consistent": true,
          "minProperties": 10,
          "multiline": true
        },
        "ImportDeclaration": {
          "consistent": true,
          "minProperties": 10,
          "multiline": true
        },
        "ObjectExpression": {
          "consistent": true,
          "minProperties": 10,
          "multiline": true
        },
        "ObjectPattern": {
          "consistent": true,
          "minProperties": 10,
          "multiline": true
        }
      }
    ],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".jsx", ".tsx"]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".json", ".mjs", ".ts", ".tsx"]
      }
    }
  }
}
