# Auto detect text files and perform LF normalization
* text=auto
.github/workflows/generated-*.yml linguist-generated=true
packages/esbuild-scripts/index.js linguist-generated=true
packages/lib-react-docs/generator.js linguist-generated=true
.yarn/** linguist-generated=true
**/bin/** linguist-generated=true
