.CardContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.AddProjectFab {
  position: fixed !important;
  bottom: 1em;
  right: 1em;
}
