.CardContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.AddProjectButton {
  display: block !important;
  margin: 1em auto !important;
}
