.ProjectCard {
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .ProjectCard {
    margin: 1em auto;
    width: 90vw;
  }
}

@media screen and (min-width: 720px) {
  .ProjectCard {
    margin: 1em;
    width: 400px;
  }
}

.ProjectCardHeader {
  padding: 4em 1em 1em 1em !important;
  color: white;
}

.ProjectCardHeaderText {
  text-overflow: ellipsis;
  width: 320px;
  overflow: hidden;
  white-space: nowrap;
}

.ProjectCardColorRed {
  background-color: #f44336;
}

.ProjectCardColorPink {
  background-color: #e91e63;
}

.ProjectCardColorPurple {
  background-color: #9c27b0;
}

.ProjectCardColorIndigo {
  background-color: #3f51b5;
}

.ProjectCardColorBlue {
  background-color: #2196f3;
}

.ProjectCardColorTeal {
  background-color: #009688;
}

.ProjectCardColorGreen {
  background-color: #4caf50;
}

.ProjectCardColorLightGreen {
  background-color: #8bc34a;
}

.ProjectCardColorOrange {
  background-color: #ff9800;
}

.ProjectCardColorGray {
  background-color: #607d8b;
}
