.TaskDetailFloatingContainer {
  position: fixed;
  background-color: #f7f7f7;
}

.TaskDetailFloatingContainer {
  top: var(--app-bar-height);
  bottom: 0;
  right: 0;
  width: 300px;
  border-left: 1px solid #cccccc;
}

.TaskDetailAppBar {
  display: none !important;
}

.TaskDetailContent {
  padding-top: 0 !important;
  max-height: 100% !important;
}
