.TaskDetailFloatingContainer {
  position: fixed;
  background-color: #f7f7f7;
}

@media screen and (max-width: 720px) {
  .TaskDetailFloatingContainer {
    z-index: 2000;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: scroll;
  }
}

@media screen and (min-width: 720px) {
  .TaskDetailFloatingContainer {
    top: var(--app-bar-height);
    bottom: 0;
    right: 0;
    width: 400px;
    border-left: 1px solid #cccccc;
  }

  .TaskDetailAppBar {
    display: none !important;
  }

  .TaskDetailContent {
    padding-top: 0 !important;
    max-height: 100% !important;
  }
}
