.EditorContainer {
  position: relative;
  max-height: 100%;
  overflow: scroll;
}

.Editor {
  margin: 0;
  border: 0;
  min-width: 100%;
  font-size: 16px;
  background: none;
  white-space: pre-wrap;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.TextArea {
  position: relative;
  z-index: 4;
  resize: none;
  overflow: scroll;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 1em;
  line-height: 1.35;
  font-family: 'Roboto Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: transparent;
  caret-color: black;
}

.CodeBlock {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
  overflow-y: visible;
}

.CodeBlock > code {
  margin: 0;
  padding: 1em;
  height: calc(100% - 30px);
}
