.TriggerButton {
  position: fixed;
  z-index: 10;
  bottom: 1em;
  right: 1em;
  outline: 0;
  cursor: pointer;
  display: block;
  width: 24px;
  height: 24px;
  padding: 4px;
  border: 1px solid var(--ifm-font-color-base);
  background-color: var(--ifm-code-background-color);
}

@media screen and (max-width: 800px) {
  .TriggerButton {
    display: none;
  }
}

.TriggerButton:hover {
  background-color: var(--ifm-background-color);
}

.FirstEdge {
  display: block;
  width: 2px;
  height: 6px;
  transform: skew(45deg);
  background: var(--ifm-font-color-base);
}

.SecondEdge {
  display: block;
  width: 2px;
  height: 6px;
  transform: skew(-45deg);
  background: var(--ifm-font-color-base);
}

.Text {
  color: transparent;
}
