.ControlSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.ControlSectionTitle {
  margin-right: 2em;
}

@media screen and (max-width: 500px) {
  .ControlSectionTitle {
    display: none;
  }
}

.TimelineSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.VerticalBar {
  position: absolute;
  width: 3px;
  top: 34px;
  bottom: 56px;
  background-color: #3e7ae2;
}

@media screen and (max-width: 600px) {
  .VerticalBar {
    left: 41px;
  }
}

@media screen and (min-width: 600px) {
  .VerticalBar {
    left: calc(50% - 267px);
  }
}

.CardContainer {
  margin-bottom: 1em;
  width: 100%;
}

.ContentWrapper {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  max-width: 600px;
}

.ConnectorDot {
  margin-top: 27px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-left: 0;
  background-color: #3e7ae2;
}

@media screen and (max-width: 600px) {
  .ConnectorDot {
    margin-right: 1em;
  }
}

@media screen and (min-width: 600px) {
  .ConnectorDot {
    margin-left: 1em;
    margin-right: 3em;
  }
}

.Card {
  margin-left: 0;
  width: calc(100% - 100px);
}
