.ControlSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.ControlSectionTitle {
  margin-right: 2em;
}

@media screen and (max-width: 500px) {
  .ControlSectionTitle {
    display: none;
  }
}

.TimelineSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.VerticalBar {
  position: absolute;
  width: 3px;
  top: 34px;
  bottom: 62px;
  background-color: #3e7ae2;
}

.CardContainer {
  margin-bottom: 1em;
  width: 100%;
}

.ContentWrapper {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.ConnectorDot {
  margin-top: 27px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-left: 0;
  margin-right: 1em;
  background-color: #3e7ae2;
}

@media screen and (min-width: 1150px) {
  .ConnectorDot {
    margin-left: 1em;
  }
}

.Card {
  margin-left: 0;
}

@media screen and (min-width: 1260px) {
  .Card {
    width: 500px;
  }
  .VerticalBar {
    left: calc(50% - 251px);
  }
}

@media screen and (min-width: 1150px) and (max-width: 1260px) {
  .Card {
    width: 400px;
  }
  .VerticalBar {
    left: calc(50% - 201px);
  }
}

@media screen and (min-width: 960px) and (max-width: 1150px) {
  .Card {
    width: 300px;
  }

  .VerticalBar {
    left: calc(50% - 159px);
  }

  .ControlSectionTitle {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .Card {
    width: 90%;
  }

  .VerticalBar {
    left: calc(5% - 0.5em - 2px);
  }
}
