@tailwind base;

@layer base {
  h1 {
    @apply my-4 text-4xl font-bold;
  }
  h2 {
    @apply my-4 text-2xl font-bold;
  }
  h3 {
    @apply my-4 text-xl font-bold;
  }
  a {
    @apply text-blue-500;
  }
}

@tailwind components;
@tailwind utilities;

html {
  @apply antialiased;
  scroll-behavior: smooth;
}

body {
  background-color: #f0f0f0;
  word-wrap: break-word;
}

pre {
  padding: 1em;
  border-radius: 5px;
}

code {
  background-color: #f6f7f8;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 90%;
  padding: 1px;
  vertical-align: middle;
}

p {
  margin: 0 0 1em;
}

.token-line {
  line-height: 1.375;
}

/* Homepage */
.homepage-container pre {
  font-size: 90%;
  margin-bottom: 1em;
}

@media screen and (min-width: 700px) {
  .half-width-flex {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
