.RootContainer {
  position: relative;
}

.DesktopAllPanels {
  display: flex;
  flex-direction: row;
}

.ProjectsPanel {
  position: fixed;
  z-index: 1;
  top: var(--app-bar-height);
  bottom: 0;
  left: 0;
  width: 400px;
  border-right: 1px solid #cccccc;
  background-color: #eeeeee;
}

.TasksPanel {
  margin: 0 0 0 400px;
  width: calc(100% - 400px);
}
