.MasonryGrid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.MasonryGridColumn {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.MasonryGridColumn > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

.TopButtonContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.TopButton {
  margin: 1em !important;
}
