.MainLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media screen and (min-width: 960px) {
  .SideBar {
    flex: 0 0 600px;
  }

  .ContentBlock {
    width: calc(100vw);
    padding-left: 600px;
  }
}

@media screen and (max-width: 960px) {
  .SideBar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
  }
}
