.MainLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.FirstPageTitle {
  margin: 0 auto 2em auto;
}

.InfoCard {
  margin: 0 auto;
}

@media screen and (min-width: 960px) {
  .SideBar {
    flex: 0 0 600px;
  }

  .ContentBlock {
    width: calc(100vw - 600px);
  }

  .FirstPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
  }
}

@media screen and (min-width: 960px) and (max-width: 1200px) {
  .InfoCard {
    width: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .InfoCard {
    width: 560px;
  }
}

@media screen and (max-width: 960px) {
  .SideBar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
  }

  .InfoCard {
    width: 90vw;
  }
}
