.IconLines {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.IconLine {
  display: flex;
  align-items: center;
  align-content: center;
  width: 240px;
  margin: 0.5em;
}

.IconLineText {
  margin-left: 8px;
}

.Links {
  justify-content: center;
}

@media screen and (min-width: 960px) and (max-width: 1200px) {
  .Transcript {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .Transcript {
    display: none;
  }
}
