.Block {
  padding: 0.5em;
  line-height: 1.5em;
  margin: 0 auto;
}

@media screen and (min-width: 960px) {
  .Block {
    position: fixed;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: calc(600px / 2);
  }
}

@media screen and (max-width: 350px) {
  .Block {
    font-size: 10px;
  }
}

@media screen and (min-width: 350px) and (max-width: 400px) {
  .Block {
    font-size: 12px;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .Block {
    font-size: 13px;
  }
}

@media screen and (min-width: 600px) {
  .Block {
    font-size: 14px;
  }
}
