.lib-react-docs-table-of-contents {
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 2rem);
}

@media only screen and (max-width: 996px) {
  .lib-react-docs-table-of-contents {
    display: none;
  }
}
