.Title {
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  padding: 1em 0;
  text-align: center;
  background-color: var(--ifm-background-color);
  font-weight: 500;
}

.Title code {
  background-color: transparent;
}
