:root {
  --prism-code-block-plain-color: rgb(56, 72, 79);
  --prism-code-block-background-color: #f7f7f7;
  --prism-code-block-keyword-color: rgb(62, 122, 226);
  --prism-code-block-property-color: rgb(154, 48, 173);
  --prism-code-block-number-color: rgb(195, 59, 48);
  --prism-code-block-string-color: rgb(26, 143, 82);
  --prism-code-block-function-color: rgb(213, 34, 98);
  --prism-code-block-comment-color: rgb(111, 111, 111);
}

html[data-theme='dark'] {
  --prism-code-block-plain-color: #f8f8f2;
  --prism-code-block-background-color: #282a36;
  --prism-code-block-keyword-color: rgb(189, 147, 249);
  --prism-code-block-property-color: rgb(241, 250, 140);
  --prism-code-block-number-color: rgb(189, 147, 249);
  --prism-code-block-string-color: rgb(255, 121, 198);
  --prism-code-block-function-color: rgb(80, 250, 123);
  --prism-code-block-comment-color: rgb(98, 114, 164);
}
