@tailwind base;

@layer base {
  h1 {
    @apply text-3xl font-sans font-semibold leading-5;
  }
  h2 {
    @apply text-2xl font-sans font-semibold leading-5;
  }
  h3 {
    @apply text-xl font-sans font-semibold leading-5;
  }
  h4 {
    @apply text-lg font-sans font-semibold leading-5;
  }
  a {
    @apply text-blue-500;
  }
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #3e7ae2;
  --gray-0: white;
  --gray-900: #1c1e21;
  --ifm-color-content: var(--gray-900);
  --background-color: #f7f7f7;
  --background-color-transparent: rgba(62, 122, 226, 0.07);
  --background-surface-color: var(--gray-0);
  --font-color-base: var(--gray-900);
  --border-radius: 6px;
  --global-spacing: 1em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --gray-0: black;
    --gray-900: #f5f6f7;
    --background-color: #18191a;
    --background-surface-color: #242526;
  }

  pre {
    --prism-code-block-plain-color: #f8f8f2;
    --prism-code-block-background-color: #282a36;
    --prism-code-block-keyword-color: rgb(189, 147, 249);
    --prism-code-block-property-color: rgb(241, 250, 140);
    --prism-code-block-number-color: rgb(189, 147, 249);
    --prism-code-block-string-color: rgb(255, 121, 198);
    --prism-code-block-function-color: rgb(80, 250, 123);
    --prism-code-block-comment-color: rgb(138, 154, 214);
  }
}

* {
  transition: background-color 0.2s ease;
}

body {
  color: var(--font-color-base);
  background: var(--background-color);
  overflow-x: hidden;
  @apply antialiased;
}

svg {
  fill: var(--font-color-base);
}

.inherit-background {
  background-color: var(--background-color);
}

.max-app-width {
  max-width: 1440px;
}

@media screen and (min-width: 1024px) {
  .sidebar {
    width: 550px;
  }
  .content-block {
    width: calc(100% - 550px);
  }
}

/* timeline-section */
@media screen and (min-width: 1280px) {
  .timeline-card {
    width: 500px;
  }
  .timeline-vertical-bar {
    left: calc(50% - 255px);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .timeline-card {
    width: 400px;
  }
  .timeline-vertical-bar {
    left: calc(50% - 205px);
  }
}
