@tailwind base;

@layer base {
  h1 {
    @apply font-sans text-3xl font-semibold leading-5;
  }
  h2 {
    @apply font-sans text-2xl font-semibold leading-5;
  }
  h3 {
    @apply font-sans text-xl font-semibold leading-5;
  }
  h4 {
    @apply font-sans text-lg font-semibold leading-5;
  }
  a {
    @apply text-blue-500;
  }
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f7f7f7;
}

body {
  color: #1c1e21;
  background: var(--background-color);
  overflow-x: hidden;
  @apply antialiased;
}

.inherit-background {
  background-color: var(--background-color);
}

@media screen and (min-width: 1024px) {
  .sidebar {
    width: 550px;
  }
  .content-block {
    width: calc(100% - 550px);
  }
}

/* timeline-section */
@media screen and (min-width: 1280px) {
  .responsive-card {
    width: 500px;
  }
  .timeline-vertical-bar {
    left: calc(50% - 255px);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .responsive-card {
    width: 400px;
  }
  .timeline-vertical-bar {
    left: calc(50% - 205px);
  }
}
