@tailwind base;

@layer base {
  h1 {
    @apply my-4 font-sans text-4xl font-semibold;
  }
  h2 {
    @apply my-4 font-sans text-3xl font-semibold;
  }
  h3 {
    @apply my-4 font-sans text-2xl font-semibold;
  }
  h4 {
    @apply my-4 font-sans text-xl font-semibold;
  }
  h5 {
    @apply my-4 font-sans text-lg font-semibold;
  }
  h6 {
    @apply my-4 font-semibold;
  }
  a {
    @apply text-blue-500;
  }
}

@tailwind components;
@tailwind utilities;

body {
  background: #f7f7f7;
  @apply antialiased;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

blockquote {
  border-left: 2px solid #CCC;
  padding-left: 0.5rem;
}

@media (min-width: 1024px) {
  .custom-container {
    max-width: 968px;
  }
}

.markdown p,
.markdown ul,
.markdown ol {
  margin-bottom: 1em;
  line-height: 1.75rem;
}

.markdown img {
  margin-bottom: 2em;
}

.markdown pre {
  margin: 1rem 0;
  padding: 0.5rem;
}
