.Overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

.GameCells {
  display: flex;
  justify-content: center;
  position: relative;
}

.GameCardControlsText {
  margin: 0 4px 4px 4px;
  padding: 0 16px;
}
