.Container {
  margin-bottom: 1em;
  width: 100%;
}

.ContentWrapper {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  max-width: 600px;
}

.Timestamp {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  margin-right: 0;
  padding-top: 8px;
  width: 70px;
  text-align: center;
  font-size: 13px;
  font-family: 'Roboto Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ConnectorDot {
  margin-top: 27px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-left: 0;
  background-color: #3e7ae2;
}

@media screen and (max-width: 600px) {
  .ConnectorDot {
    margin-right: 1em;
  }
}

@media screen and (min-width: 600px) {
  .ConnectorDot {
    margin-left: 1em;
    margin-right: 2em;
  }
}

.Card {
  margin-left: 0;
  width: calc(100% - 144px);
}
