.Container {
  margin: 1em;
  width: 100%;
}

.ContentWrapper {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  max-width: 600px;
}

.Timestamp {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-right: 0;
  padding: 8px;
  width: 80px;
  text-align: center;
  font-family: "Roboto Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.ConnectorDot {
  margin-top: 24px;
  margin-left: 1em;
  margin-right: 2em;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #3E7AE2;
}

.Card {
  margin-left: 0;
  width: calc(100% - 144px);
}
