.App {
}

.Banner {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  z-index: 996996;
}

.AppBar {
  opacity: 0.95;
}

.Title {
  flex: 1 1 auto;
}

@media screen and (max-width: 400px) {
  .Resume {
    display: none !important;
  }
}
