:root {
  --ifm-background-color: #f7f7f7;
  --ifm-card-border-radius: 0.2rem;
  --ifm-pills-spacing: 0.5em;
  --ifm-color-primary: #3e7ae2;
  --ifm-background-color-transparent: rgba(62, 122, 226, 0.07);
  --console-section-title-border-color: #ccc;
}

html[data-theme='dark'] {
  --console-section-title-border-color: #444;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--ifm-background-color);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  color: var(--ifm-font-color-base);
}

pre,
code {
  font-family: 'Roboto Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a:link {
  text-decoration: none !important;
}

a:visited {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

a:active {
  text-decoration: none !important;
}

* {
  transition: background-color 0.4s ease;
}

.button--link {
  padding: 0.5em;
  border-radius: 0.2rem !important;
}

.button--link:hover {
  color: var(--ifm-color-primary);
  background-color: var(--ifm-background-color-transparent);
}

.card {
  transition: 0.2s ease-in-out;
}

.pills__item {
  margin-right: 5px;
}

.pills__item--active {
  background: var(--ifm-pills-color-active);
  color: white;
}
