pre {
  font-family: 'Roboto Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  margin-bottom: 0;
}

.markdown > pre {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.token-line {
  line-height: 1.35;
}

.prism-code {
  font-size: 14px;
}

.simple-page-center {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.card__body > .text-input {
  width: 100%;
  padding: 0.5em;
}
