.IconLines {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.IconLine {
  display: flex;
  align-items: center;
  align-content: center;
  width: 240px;
  margin: 0.5em;
}

.IconLineText {
  margin-left: 8px;
}

.Links {
  justify-content: center;
}

.Link {
  padding-left: 1em;
  padding-right: 1em;
}
